.container-1 {
  border: solid 2px gray;
  width: 760px;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  height: 550px;
  align-items: start;
  align-content: start;
}
.container-1 div {
  border: solid 2px red;
  padding: 20px 50px;
}
.container-1 .div-h-100 {
  height: 100px;
}/*# sourceMappingURL=style.css.map */