* {
  box-sizing: border-box;
}

header, main, footer {
  border: solid 1px black;
  min-height: 50px;
  margin: 10px auto;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style: none;
  border-bottom: solid 1px black;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: antiquewhite;
}

.content article {
  min-height: 100px;
  border: solid 1px black;
  margin: 10px;
  padding: 20px;
  background-color: aqua;
}

@media screen and (min-width: 600px) {
  main {
    display: flex;
  }
  nav {
    width: 20%;
  }
  .content {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
  .content article {
    width: 49%;
    margin: 10px 0px;
  }
}/*# sourceMappingURL=style.css.map */