body {
  background-color: aqua;
}

table {
  border: solid 20px black;
  width: 500px;
  height: 500px;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}
table td {
  border: solid 5px green;
  height: 100px;
  width: 100px;
}/*# sourceMappingURL=style.css.map */