.container-1 {
  width: 70%;
  border: solid 3px gray;
  margin: auto;
  margin-bottom: 100px;
  height: 750px;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 30px;
}
.container-1 div {
  background-color: aqua;
  border: solid 1px black;
  padding: 20px;
  text-align: center;
}
.container-1 .item-4 {
  grid-column: 1/3;
  grid-row: 4;
}
.container-1 .item-2 {
  grid-column: 2/5;
}
.container-1 .item-6 {
  grid-row: 2/5;
}
.container-1 .item-10 {
  grid-row: 3/6;
}
.container-1 .item-3 {
  grid-area: 2/1/4/3;
}

.container {
  width: 70%;
  border: solid 3px gray;
  margin: auto;
  height: 750px;
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 100px auto auto 50%;
  grid-template-rows: 100px auto auto auto;
  gap: 10px 30px;
}
.container div {
  background-color: aqua;
  border: solid 1px black;
  padding: 20px;
  text-align: center;
}

.video-1, .youtube {
  width: 500px;
  height: 300px;
  margin: 20px auto;
  border: solid 3px green;
}
.video-1 video, .youtube video {
  width: 500px;
  height: 300px;
}

.audio-1 {
  width: 500px;
  margin: 20px auto;
  border: solid 3px green;
}/*# sourceMappingURL=style.css.map */