.container{
    width: 800px;
    height: 300px;
    border: solid 1px black;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    gap: 5px;
    background-color: blue;
    grid-template-rows: auto auto 50px;

    .item-1{
        grid-column: 1 / 4;
        background-color: antiquewhite;
    }

    .item-2{
        grid-column: 4 / 7;
        background-color: antiquewhite;
    }

    .item-3{
        grid-column: 1 / 3;
        background-color: greenyellow;
    }

    .item-4{
        grid-column: 3 / 7;
        background-color: green;
    }

    .item-5{
        grid-column: 1 / 7;
        background-color: rebeccapurple;
    }
    
    div{
        border: solid 1px black;
    }
}