main {
  border: dotted 5px blue;
  width: 70%;
  min-height: 350px;
  margin: auto;
}
main div {
  width: 150px;
  height: 150px;
  background-color: burlywood;
  border: solid 1px black;
  margin: auto;
}
main div:first-child {
  background-color: rosybrown;
  transform: translate(120px, 30px);
}
main div:nth-child(2) {
  background-color: yellowgreen;
  transform: rotate(60deg);
  position: relative;
  z-index: 1;
}
main div:nth-child(3) {
  background-color: brown;
  transform: scale(1.5, 3.3);
}
main div:nth-child(4) {
  position: relative;
  z-index: 1;
  transform: skewY(30deg);
}
main div:last-child {
  background-color: darkmagenta;
  position: relative;
  z-index: 1;
  transform: skewX(30deg);
}
main #example-1 {
  margin-top: 80px;
  transform: none;
  background-color: crimson;
  transition: width 2s, transform 4s;
}
main #example-1:hover {
  background-color: green;
  cursor: pointer;
  width: 300px;
  transform: rotate(60deg);
}

#field-1 {
  margin-bottom: 50px;
}
@keyframes animation-1 {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 500px;
    height: 200px;
    border-radius: 50%;
    background-color: yellowgreen;
  }
}
#field-1 #example-2 {
  transform: none;
  width: 50px;
  height: 50px;
  margin-top: 100px;
  animation-name: animation-1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

#field-2 {
  margin-top: 150px;
  margin-bottom: 150px;
  box-sizing: border-box;
  width: 900px;
}
@keyframes anime {
  0% {
    transform: translate(-25px, -25px);
  }
  25% {
    transform: translate(-25px, 325px);
  }
  50% {
    transform: translate(875px, 325px);
  }
  75% {
    transform: translate(875px, -25px);
  }
}
#field-2 #circle {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  transform: none;
  margin: 0;
  transform: translate(-25px, -25px);
  opacity: 0.8;
  animation-name: anime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}/*# sourceMappingURL=style.css.map */