body {
  background-color: blanchedalmond;
}

div {
  border: solid 2px black;
  height: 100px;
}

.meore-divi {
  background-color: aqua;
  border: solid 5px green;
  margin-top: 50px;
  margin-left: 70px;
}

.mergini-2 {
  background-color: cadetblue;
  margin: 100px 200px 250px 300px;
}

#pirveli {
  background-color: white;
  width: 400px;
  margin: auto;
  text-align: justify;
  border: solid 10px green;
  padding: 40px;
}

.peddingis-magaliti {
  width: 500px;
  background-color: white;
  margin: 20px auto;
  border: solid 10px blue;
}

.div-2 {
  padding: 30px;
  box-sizing: border-box;
  overflow: scroll;
}

.div-1 {
  box-sizing: border-box;
}

.div-9 {
  overflow: hidden;
}
.div-9 img {
  width: 100%;
}

.div-89 {
  background-image: url(my-picture.jfif);
  font-size: 3em;
  font-weight: bold;
  color: black;
}

table {
  margin: auto;
  border-spacing: 20px;
}
table td {
  width: 100px;
  height: 30px;
  border: solid 1px black;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */