body{
    background-color: beige;
}

form, div{
    border: solid 30px black;
    min-height: 150px;
    width: 700px;
    margin: auto;
    border-top:solid 30px red;
    border-left: solid 30px green;
    border-right: solid 30px blue;
    padding: 20px;

    button{
        padding: 15px;
        font-weight: bold;
        font-size: 1.3em;
        cursor: pointer;
    }

    input{
        padding: 15px;
        font-size: 1.2em;
        color: red;
    }

    select{
        padding: 10px;

        option{
            font-size: 1.3em;
        }
    }

    textarea{
        background-color: aquamarine;
        resize: vertical;
    }
}