body {
  background-color: beige;
}

form, div {
  border: solid 30px black;
  min-height: 150px;
  width: 700px;
  margin: auto;
  border-top: solid 30px red;
  border-left: solid 30px green;
  border-right: solid 30px blue;
  padding: 20px;
}
form button, div button {
  padding: 15px;
  font-weight: bold;
  font-size: 1.3em;
  cursor: pointer;
}
form input, div input {
  padding: 15px;
  font-size: 1.2em;
  color: red;
}
form select, div select {
  padding: 10px;
}
form select option, div select option {
  font-size: 1.3em;
}
form textarea, div textarea {
  background-color: aquamarine;
  resize: vertical;
}/*# sourceMappingURL=style.css.map */