body{
    background-color: antiquewhite;
    height: 2400px;
}

div{
    border: dotted 3px blue;
    height: 100px;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-size: 3em;
}

.gadatana-1{
    background-color: aquamarine;
    position: absolute;
    right: 200px;
    bottom:40px;
    margin:0px;
}

.div-4{
    background-color: yellowgreen;
    width: 350px;
}

.move-2{
    background-color: chocolate;
    position: fixed;
    left: 400px;
}

.pos-ex-1{
    position: sticky;
    top:50px;
}

.pos-rel{
    background-color: aqua;
    position: relative;
    left: 200px;
    bottom: 70px;
}

main{
    border: solid 3px gray;
    // min-height: 400px;
    width: 60%;
    margin: auto;
    background-color: white;
    position: relative;
    overflow: hidden;

    div{
        background-color: coral;
        // display: inline-block;
        // display: inline;
        float: right;
    }

    // .main-div-1{
    //    position: absolute;
    //    right: 20px; 
    //    bottom: 20px;
    // }
}